<?xml version='1.0' encoding='utf-8'?>
<widget id="com.watson.vehicledamageanalyzer" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Watson Vehicle Damage Analyzer</name>
    <description>
        Vehicle Damage Analyzer using Watson Visual Recognition
    </description>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="Orientation" value="all" />
        <config-file parent="NSAppTransportSecurity" platform="ios" target="*-Info.plist">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true />
            </dict>
        </config-file>
    </platform>
    <preference name="android-targetSdkVersion" value="23" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
    <plugin name="cordova-plugin-cache-clear" spec="^1.3.7" />
    <plugin name="cordova-plugin-file-transfer" spec="^1.7.0" />
    <plugin name="cordova-plugin-camera" spec="^3.0.0" />
    <plugin name="cordova-plugin-ios-camera-permissions" spec="^1.2.0">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="This app needs camera access" />
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value="This app needs microphone access" />
        <variable name="PHOTOLIBRARY_ADD_USAGE_DESCRIPTION" value="This app needs write-access to photo library" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="This app needs read/write-access photo library access" />
    </plugin>
    <engine name="android" spec="^6.3.0" />
    <engine name="ios" spec="^4.5.4" />
</widget>
